.nav-bar {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-family: "PokemonFont", sans-serif;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar a:active {
  color: white;
}

.nav-bar a:focus {
  outline: none;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}
